<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">  

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet" />

    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="logo-Busqueda">
            <a href="/" class="imgLogo"><img src="/img/logo-mercado-liebre.svg"></a>
             <div class="buscador">
                <input type="search" placeholder="Buscar productos, marcas y más">
                <button class="iconoLupa"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            
        </div>
        
        <nav class = "articulosBusqueda">
            <ul class = "buscadorArticulo">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class = "buscadorCuenta">
                <li><a href="/cuenta">Crea tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
            </nav>
            <div class="contenedorBotonMenu">
                <button>
                    <i class="fa-solid fa-bars">
                    </i>
            </button>
            </div>
        </header>
        <main>
            <img src="/img/img-home-banner.jpg" alt="" class="imagenesAl100">
            <section class ='cajaDelMain'>
                <h2>Basado en tu ultima visita</h2>
                <article class = 'articulos'>
                            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="imagenes">
                        <div class = contenedorTextoArticulo>
                            <button class="camionIcono">
                                <i class="fa-solid fa-truck"></i> 
                            </button>    
                            <div class="precio-Descuento">
                                <p class = "preciosArticulo">
                                    $6.770
                                </p>
                                <p class = "descuntosArticulo" >
                                    40% OFF
                            </p>
                            </div>
                                <p class = "descripcionArticulo"> 
                                    Cafetera Moulinex
                                </p>
                        </div>
                </article>
                <article class = 'articulos'>
                        <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="imagenes">
                    <div class = contenedorTextoArticulo>
                        <button class="camionIcono">
                            <i class="fa-solid fa-truck"></i> 
                        </button>    
                        <div class="precio-Descuento">
                            <p class = "preciosArticulo">
                                $6.770
                            </p>
                            <p class = "descuntosArticulo" >
                                40% OFF
                        </p>
                        </div>
                            <p class = "descripcionArticulo"> 
                                Cafetera Moulinex
                            </p>
                    </div>
                </article>
                <article class = 'articulos'>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="imagenes">
                <div class = contenedorTextoArticulo>
                    <button class="camionIcono">
                        <i class="fa-solid fa-truck"></i> 
                    </button>    
                    <div class="precio-Descuento">
                        <p class = "preciosArticulo">
                            $6.770
                        </p>
                        <p class = "descuntosArticulo" >
                            40% OFF
                    </p>
                    </div>
                        <p class = "descripcionArticulo"> 
                            Cafetera Moulinex
                        </p>
                </div>
                </article>
                <article class = 'articulos'>
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="imagenes">
            <div class = contenedorTextoArticulo>
                <button class="camionIcono">
                    <i class="fa-solid fa-truck"></i> 
                </button>    
                <div class="precio-Descuento">
                    <p class = "preciosArticulo">
                        $6.770
                    </p>
                    <p class = "descuntosArticulo" >
                        40% OFF
                </p>
                </div>
                    <p class = "descripcionArticulo"> 
                        Cafetera Moulinex
                    </p>
            </div>
                </article>
                </div>
            </section>
            <section class ='cajaDelMain'>
                <h2>Ofertas</h2>
                <article class = 'articulos'>
                            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="imagenes">
                        <div class = contenedorTextoArticulo>
                            <button class="camionIcono">
                                <i class="fa-solid fa-truck"></i> 
                            </button>    
                            <div class="precio-Descuento">
                                <p class = "preciosArticulo">
                                    $6.770
                                </p>
                                <p class = "descuntosArticulo" >
                                    40% OFF
                            </p>
                            </div>
                                <p class = "descripcionArticulo"> 
                                    Cafetera Moulinex
                                </p>
                        </div>
                </article>
                <article class = 'articulos'>
                        <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="imagenes">
                    <div class = contenedorTextoArticulo>
                        <button class="camionIcono">
                            <i class="fa-solid fa-truck"></i> 
                        </button>    
                        <div class="precio-Descuento">
                            <p class = "preciosArticulo">
                                $6.770
                            </p>
                            <p class = "descuntosArticulo" >
                                40% OFF
                        </p>
                        </div>
                            <p class = "descripcionArticulo"> 
                                Cafetera Moulinex
                            </p>
                    </div>
                </article>
                <article class = 'articulos'>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="imagenes">
                <div class = contenedorTextoArticulo>
                    <button class="camionIcono">
                        <i class="fa-solid fa-truck"></i> 
                    </button>    
                    <div class="precio-Descuento">
                        <p class = "preciosArticulo">
                            $6.770
                        </p>
                        <p class = "descuntosArticulo" >
                            40% OFF
                    </p>
                    </div>
                        <p class = "descripcionArticulo"> 
                            Cafetera Moulinex
                        </p>
                </div>
                </article>
                <article class = 'articulos'>
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="imagenes">
            <div class = contenedorTextoArticulo>
                <button class="camionIcono">
                    <i class="fa-solid fa-truck"></i> 
                </button>    
                <div class="precio-Descuento">
                    <p class = "preciosArticulo">
                        $6.770
                    </p>
                    <p class = "descuntosArticulo" >
                        40% OFF
                </p>
                </div>
                    <p class = "descripcionArticulo"> 
                        Cafetera Moulinex
                    </p>
            </div>
                </article>
                </div>
            </section>
        </main>

    <footer>
        <section class='pieDePagina'>

            <div class="iconosFotter"><i class="fa-solid fa-credit-card"></i></div>
            <h3 class="textoFotter">Pagá con tarjeta o en efectivo</h3>
            <p class="textoFotter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>

        </section>
        <section class='pieDePagina'>

            <div class="iconosFotter"><i class="fa-solid fa-gift"></i></div>
            <h3 class="textoFotter">Envío gratis desde $ 2.500</h3>
            <p class="textoFotter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

        </section>
        <section class='pieDePagina'>

            <div class="iconosFotter"><i class="fa-solid fa-user-shield"></i></div>
            <h3 class="textoFotter">Seguridad, de principio a fin</h3>
            <p class="textoFotter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

        </section>
        <div>
            <p style="padding-left: 20px;">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>