<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head')%>
<body>
    <%-include('./partials/header')%>
        <main>
        <form action="/user/save" method="POST">

            <h2 id="titulo">Resgistro</h2>
            <!-- Nombre Apellido -->

            <div id="nombreApellido">
                <div class="cajaIzq">
                    <label>Nombre</label> <br>
                    <input type="text" name = "nombre">
                </div>
                <div class="cajaDer">
                    <label>Apellido</label> <br>
                    <input type="text" name = "apellido">
                </div>
            </div>


            <div id="nUsuario">
                <label>Nombre de usuario</label><br>
                <input type="text" name = "usuario">
            </div>

            <!-- /* Fecha - direccion */ -->

            <div id="fechaDireccion">
                <div class="cajaIzq">
                    <label for="fDeNaci" >Fecha de nacimiento</label><br>
                    <input type="date" name = "fecha">
                </div> 
                <div class="cajaDer">
                    <label for="fDeNaci" >Dirección</label><br>
                    <input type="text" name = "direccion">
                </div>    
            </div>


            <div id="perfil">
                <label >Tu perfil</label>
                <div>
                    <input type="radio" name="perfilUsuario" value ="vendedor" id ="vendedor" >
                    <label for ="vendedor" >Vendedor </label>
                </div>
                <div style="margin-bottom: 0px;">
                    <input type="radio" name="perfilUsuario" value ="comprador" id ="comprador" >
                    <label for ="vendedor">Comprador </label>
                </div>
            </div>

            <div id="categoriasInteres">

                <label style="width: 100%">Categorias de interes</label>

                    <div class="porCategoria">
                        <input type="checkbox" name="categorias" value="electro">
                        <label >  Electro</label> <br>
                    </div> 

                    <div class="porCategoria">
                        <input type="checkbox" name="categorias" value="moda">
                        <label >  Moda</label> <br>
                    </div>

                    <div class="porCategoria">
                        <input type="checkbox" name="categorias" value="hogar">
                        <label >  Hogar</label> <br>
                    </div>

                    <div class="porCategoria">
                        <input type="checkbox" name="categorias" value="Jugueteria">
                        <label >  Jugueteria</label> <br>
                    </div>

                    <div class="porCategoria">
                        <input type="checkbox" name="categorias" value="vidaSana">
                        <label >  Vida sana</label> <br>
                    </div>
                    <div class="porCategoria">
                        <input type="checkbox" name="categorias" value="games">
                        <label > Games </label> <br>
                    </div>

            </div>


            <div id="cajaFotoUsuario">
                <label > Foto de usuario:  </label>
                <input type="file" accept="image/jpeg , image/png">
            </div>

            <div id="cajaContraseña">
                <div class="cajaIzq">
                    <label >Contraseña: </label><br>
                    <input type="password" name="contraseña">
                </div>
                <div class="cajaDer">
                    <label >Confirmar contraseña: </label><br>
                    <input type="password" name="confirmarContraseña">
                </div>
            </div>
            
            <!-- Botones -->
            <div id="botones">
                <button type="submit">Guardar</button>
                <button type="reset">Borrar</button>
            </div>
        </form>
        </main>
</body>
</html>