<footer>
    <section class='pieDePagina'>

        <div class="iconosFotter"><i class="fa-solid fa-credit-card"></i></div>
        <h3 class="textoFotter">Pagá con tarjeta o en efectivo</h3>
        <p class="textoFotter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

    </section>
    <section class='pieDePagina'>

        <div class="iconosFotter"><i class="fa-solid fa-gift"></i></div>
        <h3 class="textoFotter">Envío gratis desde $ 2.500</h3>
        <p class="textoFotter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

    </section>
    <section class='pieDePagina'>

        <div class="iconosFotter"><i class="fa-solid fa-user-shield"></i></div>
        <h3 class="textoFotter">Seguridad, de principio a fin</h3>
        <p class="textoFotter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

    </section>
    <div>
        <p style="padding-left: 20px;">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
</footer>