<header>
    <div class="logo-Busqueda">
        <a href="/" class="imgLogo"><img src="/img/logo-mercado-liebre.svg"></a>
        <div class="buscador">
            <input type="search" placeholder="Buscar productos, marcas y más">
            <button class="iconoLupa"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>

    </div>

    <nav class="articulosBusqueda">
        <ul class="buscadorArticulo">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="buscadorCuenta">
            <li><a href="/user/register">Crea tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
            <li><a href="/user/login">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
    </nav>
    <div class="contenedorBotonMenu">
        <button>
            <i class="fa-solid fa-bars">
            </i>
        </button>
    </div>
</header>